
.png{
    width: 200px;
}
.heading{
    font-size: 42px;
}
.para{
    font-size: 24px;
    margin-top: 20px;
}
.button{
    border-radius: 10px;
    border: 0px solid;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom:20px ;
    background: rgb(63, 63, 205);
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    color: white;
}

.footer{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-top: 20px;
}
.footer2{
    line-height: 0.5;
     float: right;
     text-align: right;
     margin-right: 30px;
}
.footer3{
    width: 100px;
    padding: 1%;
    align-items: center;
    margin-top: 20px;
}
.font{
    color: rgb(158, 154, 148);
    font-size: medium;
}
.png1{
    width: 23px;   
}
.up{
    margin-top: -1px;
}
.down{
    margin-top: 1px;
}


@media screen and (min-width:100px) and (max-width: 400px) {
    .heading{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .png{
        width: 140px;
    }
    .footer3{
        margin-top: 4px;
    }
    .para{
        font-size: 15px;
        
    }
    .button{
        margin-top: 30px;
        padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom:10px ;
    font-size: 20px;
    }
    .font{
        font-size:10px;
    }
    .down{
        margin-top: 5px;
    }
    
    .footer4{
        margin-top: 100px;
    }
}


@media screen and (min-width:701px) and (max-width: 800px) {
    .heading{
        font-size: 38px;
    }
    .para{
        font-size: 18px;
    }
    .button{
        padding-top: 15px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom:15px ;
    }
    
}

@media screen and (min-width:401px) and (max-width: 700px) {
    .heading{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .png{
        width: 150px;
    }
    .footer3{
        margin-top: 4px;
    }
    .para{
        font-size: 20px;
        
    }
    .button{
        margin-top: 80px;
        padding-top: 10px;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom:10px ;
        font-size: 19px;
    }
    .font{
        font-size:15px;
    }
    .down{
        margin-top: 5px;
    }
    
    .footer4{
        margin-top: 100px;
    }
}
